<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Social Poll by Vue.js</title>
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
  <link rel="stylesheet" href="./css/style.css">
</head>

<body>

  <div id="app">
    <b-navbar toggleable="md" type="light" variant="light">
        <div class="container">
          <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
          <b-navbar-brand to="/">Social Poll</b-navbar-brand>
          <b-collapse is-nav id="nav_collapse">
            <b-navbar-nav>
              <b-nav-item to="/">Polls</b-nav-item>
              <b-nav-item to="/about">About</b-nav-item>
            </b-navbar-nav>

            <b-navbar-nav class="ml-auto">        
              <b-nav-item-dropdown text="Lang" right>
                <b-dropdown-item href="#">EN</b-dropdown-item>
                <b-dropdown-item href="#">UA</b-dropdown-item>
              </b-nav-item-dropdown>
        
              <b-nav-item-dropdown right>
                <template slot="button-content">
                  <em>User</em>
                </template>
                <b-dropdown-item href="#">Profile</b-dropdown-item>
                <b-dropdown-item href="#">Signout</b-dropdown-item>
              </b-nav-item-dropdown>
            </b-navbar-nav>
          </b-collapse>
        </div>
      </b-navbar>
  <div class="container">
      <router-view></router-view>
  </div>
</div>


<template id="vote-list">
  <div>
      <b-row class="mt-3 mb-3">
        <b-col md="6">
            <b-form-input v-model="filter" placeholder="Type to Search" />
        </b-col>
        <b-col md="6">
            <b-button class="float-right" variant="primary" to="/vote/create"><i class="fas fa-plus"></i> Create</b-button>
        </b-col>
      </b-row>
      <b-table id="voteTable" fixed :items="votes" :fields="fields" :current-page="currentPage" :per-page="perPage" :filter="filter" :sort-by.sync="sortBy" :sort-desc.sync="sortDesc" @filtered="onFiltered">
        <template slot="title" slot-scope="row"><router-link :to="{name: 'vote', params: {id: row.item.id}}">{{ row.item.title }}</router-link></template>
          <template slot="votes" slot-scope="row">{{ calculateVotes(row.item) }}</template>
          <template slot="actions" slot-scope="row">
              <b-button variant="outline-primary" size="sm" @click.stop="row.toggleDetails"><i class="fas fa-info"></i></b-button>
              <b-button variant="outline-primary" size="sm" :to="{name: 'voteEdit', params: {id: row.item.id}}"><i class="far fa-edit"></i></b-button>
              <b-button variant="outline-danger" size="sm"  @click.stop="showModalRemove(row.item, row.index, $event.target)"><i class="far fa-trash-alt"></i></rb-button>
          </template>
          <template slot="row-details" slot-scope="row">
            <b-card>
               {{ row.item.title }}
            </b-card>
          </template>
      </b-table>
      <b-modal id="modalRemove":title="modalRemove.title" hide-footer>
        <div>Are you sure you want to delete <strong>"{{ modalRemove.content.title }}"</strong>?</div>
        <div class="float-right">
          <b-btn variant="outline-primary" @click="removeVote(modalRemove.content.id)">Ok</b-btn>
          <b-btn variant="outline-danger" @click="hideModalRemove">Cancel</b-btn>
        </div>
      </b-modal>
    <b-row>
        <b-col md="12" v-if="totalRows > perPage">
            <b-pagination align="center" :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="mt-2" />
        </b-col>
    </b-row>
    
  </div>
</template>

<template id="vote-view">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center mt-2">{{ vote.title }}</h1>
    </div>  
    <div class="col-4">
      <div class="list-group">
        <a href="#" class="list-group-item d-flex justify-content-between align-items-center" v-for="(res) in orederedResults">{{ res.name }} <span class="badge badge-success badge-pill">{{ res.count }}</span></a>
      </div>
      <div>Fetching data <i class="fas fa-spinner fa-pulse"></i></div>
    </div>   
    <div class="col-8">
        <pie-chart :library="{is3D: 'true'}" :data="vote.results"></pie-chart>
    </div> 
  </div>
</template>

<template id="vote-form">
  <div class="row">
      <div class="col"></div>
      <div class="col-8">
        <form @submit="submit">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" v-model="vote.title" placeholder="Title">
            </div>
            <div class="form-group">
                <label for="options">Options</label>
                <input type="text" class="form-control" v-model="vote.options" placeholder="Options">
                <p class="help-block">Comma separated</p>
            </div>
            <b-button type="submit" variant="outline-success"><i class="fas fa-cloud"></i> {{ buttonText }}</b-button>
            <b-button variant="outline-primary" :to="{name: 'index'}"><i class="fas fa-ban"></i> Cancel</b-button>
        </form>
      </div>
      <div class="col"></div>
  </div>
</template>

<template id="vote-delete">
  <div>
    <p>Are you sure you want to delete {{ vote.title }}?</p>
    <button class="btn btn-primary" @click="remove">Delete</button> or <router-link to="/">Cancel</router-link>
  </div>
</template>
  
<template id="about">
  <div class="row">
    <div class="col">
        You can create your poll with custom words or hashtags and calculate what is most popular in realtime.
    </div>
  </div>
</template>


<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/vue-router"></script>
<script src="https://unpkg.com/chartkick@2.2.4"></script>
<script src="https://unpkg.com/vue-chartkick@0.2.0/dist/vue-chartkick.js"></script>
<script src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<script src="../config.js"></script>
<script src="./js/script.js?v1"></script>
</body>
</html>